jishaku~=2.0.0
toml~=0.10.1
uvloop~=0.15.0
parsedatetime~=2.6
pytz
discord.py-stubs~=1.7.1
discord.py[voice]>=1.7.2
#git+https://github.com/Rapptz/discord.py.git
tortoise-orm[accel]>=0.17.2
aerich
asyncpg==0.23.0
python-rapidjson
ciso8601
seam-carving
Babel==2.9.1
#git+https://github.com/paris-ci/babel.git
git+https://github.com/Rapptz/discord-ext-menus
python-dateutil~=2.8.1
aiohttp[speedups]~=3.7.3
aiohttp_cors~=0.7.0
polib~=1.1.0
tqdm~=4.61
pillow>=8.0
statcord.py~=3.1.0