#jishaku==2.3.2
git+https://github.com/Gorialis/jishaku.git
toml==0.10.2
uvloop==0.19.0
parsedatetime==2.6
pytz==2023.4
#discord.py[voice]>=1.7.2
discord.py==2.3.2
#git+https://github.com/iDevision/enhanced-discord.py.git#2.0
tortoise-orm[accel]==0.20.0
aerich==0.7.2
asyncpg==0.29.0
python-rapidjson==1.15
ciso8601==2.3.1
#seam-carving
Babel==2.14.0
#git+https://github.com/paris-ci/babel.git
git+https://github.com/Rapptz/discord-ext-menus
python-dateutil==2.8.2
aiohttp[speedups]==3.9.3
aiohttp_cors==0.7.0
polib==1.2.0
tqdm==4.66.2
pillow==10.2.0
statcord.py==3.1.1