#jishaku==2.3.2
git+https://github.com/Gorialis/jishaku.git
toml==0.10.2
uvloop==0.21.0
parsedatetime==2.6
pytz==2025.2
#discord.py[voice]>=1.7.2
discord.py==2.6.0
#git+https://github.com/iDevision/enhanced-discord.py.git#2.0
tortoise-orm[accel]==0.25.1
aerich==0.9.1
asyncpg==0.30.0
python-rapidjson==1.21
ciso8601==2.3.2
#seam-carving
Babel==2.17.0
#git+https://github.com/paris-ci/babel.git
git+https://github.com/Rapptz/discord-ext-menus
python-dateutil==2.9.0.post0
aiohttp[speedups]==3.12.15
aiohttp_cors==0.8.1
polib==1.2.0
tqdm==4.67.1
pillow==11.3.0
statcord.py==3.1.1
audioop-lts==0.2.2; python_version>='3.13'
