website_url = "https://duckhunt.me/"

[bot]
prefixes = ["beta", "b!", "b", "B"]
description = """Discord Version 4 of DuckHunt, the popular game bot"""
playing = "Ducks are everywhere"
commands_are_case_insensitive = true

[database]
# A postgreSQL database to store information about users, channels, and guilds
# Please ensure the database exist before loading the database modules
# Quick Start : https://medium.com/coding-blocks/creating-user-database-and-adding-access-on-postgresql-8bfcd2f4a91e
enable = true
host = "127.0.0.1"
port = "5432"
user = "duckhunt"
password = "duckhunt"
database = "duckhunt"

[duckhunt_public_log]
server_id = 734810932529856652
channel_id = 851554104710922240

[auth.discord]
# Your bot token. You can find it on the Bot page of the Developper portal
token = ""


[cogs]
# Names of cogs to load. Usually cogs.file_name_without_py
# bots_list_and_voting must be loaded before rest_api
cogs_to_load = ['cogs.error_handling',
                'cogs.emergencies',
                'cogs.monitoring',
                'cogs.tags',
                'cogs.simple_commands',
                'cogs.background_loop',
                'cogs.support_server_commands',
                'cogs.settings_commands',
                'cogs.ducks_spawning_commands',
                'cogs.ducks_spawning',
                'cogs.ducks_hunting_commands',
                'cogs.statistics_experience_commands',
                'cogs.community',
                'cogs.private_messages_support',
                'cogs.random_ducks',
                'cogs.inventory_commands',
                'cogs.shopping_commands',
                'cogs.duck_boss',
                'cogs.prestige_commands',
                'cogs.bots_list_and_voting',
                'cogs.landmines',
                'cogs.rest_api',
                'cogs.buttons',
                'cogs.help_command',
                'jishaku',
                ]

# The name after cogs is the name of the class
[cogs.SimpleCommands]
wiki_url = "https://duckhunt.me/docs/"

[cogs.DuckBoss]
boss_channel_id = 851554201104547901
required_bangs = 40
role_ping_id = 803708518716014652

[cogs.SupportServerCommands]
# That's the ID of your server where the command will be ran
support_server_id = 734810932529856652
# ID of an empty channel that will be used as a status dashboard.
status_channel_id = 851554104710922240

[cogs.Community]
servers = [734810932529856652]
rpg_role_name = "Ping me for RPG bot events"
moderators_that_can_delete_with_reactions = [251996890369884161]

[cogs.PrivateMessagesSupport]
forwarding_category = 851553794826698792

[cogs.RestAPI]
listen_ip = "127.0.0.1"
listen_port = "8080"
route_prefix = "/api"
# Access keys are actually GUIDs/UUIDs.
# You can generate them easily. https://www.uuidgenerator.net/version4
global_access_keys = [
    "d84af260-c806-4066-8387-1d5144b7fa72", # DuckHunt WebInterface (exemple)
]

[cogs.Tags]
allowed_in_guilds = [
    734810932529856652, # DuckHunt Beta
]


[cogs.BotsListVoting]
statcord_token = "abcdef"


[random_ducks]
assets_path = 'assets/Random Ducks'
