name: test-translations
on:
  push:
    paths:
      - 'src/locales/**.po'
      - 'src/locales/**.pot'
      - 'src/tests/**'
      - '.github/workflows/test_translations.yml'
  pull_request:
    paths:
      - 'src/locales/**.po'
      - 'src/locales/**.pot'
      - 'src/tests/**'
      - '.github/workflows/test_translations.yml'

env:
  L10N_WEBHOOK_URL: ${{ secrets.L10N_WEBHOOK_URL }}

jobs:
  parse-and-check-po-files:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.9' # Version range or exact version of a Python version to use, using SemVer's version range syntax
      - run: pip install babel requests git+https://github.com/Rapptz/discord.py.git        
      - run: python ./src/tests/test_translations.py
